# Mac
.DS_Store

# Win
Thumbs.db
ehthumbs.db

#IntelliJ
.idea
.idea/

#NetBeans
nb-configuration.xml
nbactions.xml

# Log files
*.log
logs
log/

# Runtime data
pids
*.pid
*.seed
target/
*.iml

# Eclipse files
.checkstyle
.classpath
.pmd
.pmdruleset.xml
.project
.settings/
